.stream-image {
	width: 640px;
	max-width: 100%;
	margin: 0;
}

.switch-wrapper {
	margin-bottom: 20px;
}

.snapshot-card {
	padding: 0 20px 20px 20px;
}

@media (min-width: 1200px) {
	.container {
		max-width: 960px;
	}
}	